
<div class="d-flex justify-content-center align-items-center container">
    <div class="row">
        <h2>Update Movie</h2>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Movie Name</label>
                <input type="text" class="form-control" id="movieName" name="movieName" placeholder="Enter Movie Name" [(ngModel)]=movieName>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Director</label>
              <input type="text" class="form-control" id="director" name="director" placeholder="Enter Director Name" [(ngModel)]=director>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Description</label>
              <input type="text" class="form-control" id="description" placeholder="Enter Description" name="description" [(ngModel)]=description>
            </div>
              <br>
            <button type="submit" class="btn btn-primary" (click)="submitUpdateForm()">Submit</button>
        </form>
    </div>
    <br>
    
</div>